.container
    height 100%
    background-color #fafbfc
    .head-top
        display flex
        width 100%
        height 140px
        background-color #333
        .head-avatar
            flex 0 0 130px
            height 100%
            .avatar
                width 90px
                height 90px
                border-radius 45px
                margin-top 25px
                margin-left 20px
        .head-text
            flex 1
            height 100%
            .head-name
                height 70px
                line-height 100px
                font-size 32px
                color #fff
                font-weight bold
            .head-mobile
                height 70px
                line-height 50px
                font-size 24px
                color #ccc
        .head-setting
            flex 0 0 130px
            height 100%
            line-height 140px
            text-align center
    .tips-text
        height 60px
        line-height 60px
        font-size 24px
        text-align center
        color #c5d9e8
    .canvas
        width 100%
        height 460px
        padding 20px 0
        background-color #fff
    .map
        width 100%
        height 460px
        background-color #fff
    .start-bottom
        position fixed
        bottom 0
        left 0
        width 100%
        height 200px
        background-color #fff
        display flex
        justify-content center
        align-items center
        box-shadow 0 -5px 10px rgba(52,111,194,.1)
        .start-btn
            width 280px
            height 100px
            line-height 100px
            color #fff
            text-align center
            border-radius 50px
            background-color #5c89e4
            box-shadow 0 10px 30px rgba(52,111,194,.4)
        .end-btn
            width 280px
            height 100px
            line-height 100px
            color #fff
            text-align center
            border-radius 50px
            background-color #13ce66
            box-shadow 0 10px 30px rgba(11,137,79,.4)